* {
  box-sizing: border-box;
  margin: 0;
  background-color: #fffef2;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 130%;

  .ico20 {
    width: 20px;
    height: 20px;
  }

  .ico16 {
    width: 16px;
    height: 16px;
  }

  a {
    text-decoration: none;
  }
}

.signup {
  display: flex;
  width: 100vw;
  height: 100%;
  background-color: rgba(000, 000, 000, 10);

  .container {
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fffef2;

    .iconHandlePage {
      position: relative;
      width: 500px;
      height: 24px;
      margin-bottom: 40px;

      .closeButton {
        position: absolute;
        right: 0;
      }
    }

    .title {
      margin-bottom: 20px;
      font-size: 30px;
    }

    .subText {
      margin-bottom: 60px;
      color: #666;
    }

    .inputW240 {
      width: 240px;
      height: 36px;
      margin-bottom: 40px;
      border-bottom: solid 1px #ccc;
      border-style: none;
      background-color: rgba(000, 000, 000, 0);

      &::placeholder {
        color: #666;
        font-size: 24px;
        font-weight: 300;
        line-height: 130%;
      }
    }

    .lastName {
      margin-right: 20px;
    }

    .inputW500 {
      width: 500px;
      height: 36px;
      margin-bottom: 40px;
      border-bottom: solid 1px #ccc;
      border-style: none;
      background-color: rgba(000, 000, 000, 0);

      &::placeholder {
        color: #666;
        font-size: 24px;
        font-weight: 300;
        line-height: 130%;
      }
    }

    .password {
      position: relative;

      .passwordTypeButton {
        position: absolute;
        top: 0;
        right: 0;
        height: 36px;
        border-style: none;
        background-color: rgba(000, 000, 000, 0);
        color: #666;
      }
    }

    .checkBox {
      width: 500px;
      margin-bottom: 32px;

      input {
        background-color: rgba(000, 000, 000, 0);
      }

      span {
        margin-left: 12px;
      }

      .infoBox {
        width: 500px;
        height: 100px;
        margin-top: 10px;
        padding: 10px 20px 10px 10px;
        overflow-y: scroll;
        border: solid 1px #666;
        color: #666;
        font-size: 14px;
      }
    }

    .primaryButtonSolid {
      width: 500px;
      height: 60px;
      margin-top: 32px;
      border-style: none;
      background-color: #333;
      color: #f8f8f8;
    }
  }
}
