@import '../../../styles/mixin';

.productHeader {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0;
  padding: 120px 80px;

  .logoContainer {
    .logo {
      position: absolute;
      top: 120px;
      width: 120px;
    }
  }

  .productImageContainer {
    position: relative;

    .productImage {
      position: absolute;
      top: 0;
      max-width: 500px;
      height: 540px;
      transform: translate(-20%, -50%);
      object-fit: contain;
    }
  }

  .productDetailContainer {
    padding-right: 80px;

    .productTitleContainer {
      margin-bottom: 32px;

      .productCategoryLink {
        display: flex;
        align-items: end;
        margin-bottom: 40px;
      }

      .divideDot {
        @include divideDotStyle;
      }

      .productName {
        @include h2Style;
      }

      .productDescription {
        @include pStyle;
      }
    }

    .productDetail {
      padding-right: 0;
      padding-left: 0;
      border-top: 2px solid #333;

      li {
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #ccc;
      }

      .productIngredient {
        position: relative;
      }

      .ingredientTitle {
        @include h6Style;
      }

      .ingredientText {
        @include pStyle;
      }

      .detailViewButton {
        @include icon20;
        position: absolute;
        top: 32px;
        right: 10px;
      }

      .productSize {
        border-style: none;
      }

      .sizeTitle {
        @include h6Style;
      }

      .sizeText {
        @include pStyle;
      }
    }

    .primarySolidButton {
      @include primarySolidButton;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
