.slideItemList {
  display: flex;
  position: relative;
  align-items: center;
  margin: 150px 0 0 80px;
  overflow: hidden;
  gap: 50px;

  .leftarrow {
    position: absolute;
    font-size: 30px;
  }

  .rightarrow {
    position: absolute;
  }

  .itemInfo {
    flex-shrink: 0;
    width: 420px;
    height: 510px;
    padding-top: 40px;

    h2 {
      margin-top: 30px;
      margin-bottom: 40px;
      color: rgb(51, 51, 51);
      font-size: 30px;
    }

    p {
      margin-bottom: 30px;
      color: #545454;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    .squareBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      height: 60px;
      padding: 0 23px;
      border: 1px solid rgba(51, 51, 51, 0.2);
    }

    .text {
      font-size: 14px;
    }
    .arrow {
      font-size: 25px;
    }
  }
}
