.recommend {
  position: relative;
  margin-bottom: 240px;
  padding-top: 120px;

  .arrowPrevBtn {
    position: absolute;
    top: 50%;
    left: -80px;
    width: 0px;
    height: 80px;
    background-color: #333;
    cursor: pointer;

    &:hover {
      left: 0;
      width: 80px;
      transition: left 1s;
    }

    &.hover {
      left: 0;
      width: 80px;
      transition: left 1s;
    }

    .icon24 {
      width: 24px;
      height: 24px;
      transform: translate(100%, 100%);
    }
  }

  .arrowNextBtn {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: -80px;
    width: 0px;
    height: 80px;
    transition: left 0.5s;
    background-color: #333;
    cursor: pointer;

    &:hover {
      right: 0;
      width: 80px;
      transition: right 1s;
    }

    &.hover {
      right: 0;
      width: 80px;
      transition: right 1s;
    }

    .icon24 {
      width: 24px;
      height: 24px;
      transform: translate(100%, 100%);
    }
  }

  .product {
    margin-top: 120px;

    .productList {
      display: flex;
      overflow-x: hidden;
      list-style: none;

      &.rightScroll {
        overflow-x: visible;
        transform: translate(-70%, 0);
        transition: transform 1s;
      }

      &.leftScroll {
        overflow-x: visible;
        transform: translate(0%, 0);
        transition: transform 1s;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        width: 450px;
        height: 520px;
        text-align: center;
      }

      .title {
        width: 450px;
      }

      img {
        width: 450px;
        height: 340px;
        object-fit: contain;
      }
    }
  }

  .indicator {
    position: absolute;
    right: 80px;
    bottom: 0;
    left: 80px;
    height: 2px;
    background-color: #ccc;

    .indicatorBar {
      width: 30%;
      border-bottom: 2px solid #333;

      &.rightScroll {
        overflow-x: hidden;
        transform: translate(233%, 0);
        transition: transform 1s;
      }

      &.leftScroll {
        overflow-x: hidden;
        transform: translate(-233%, 0);
        transition: transform 1s;
      }
    }
  }
}
