.mainBanner {
  display: flex;
  width: 100%;
  height: 510px;
  background-color: #f6f5e8;

  .bannerContent {
    position: relative;
    flex-grow: 1;

    img {
      position: absolute;
      top: 100px;
      left: 40px;
      width: 120px;
    }

    .content {
      width: 555px;
      height: 510px;
      margin-left: 320px;
      padding-top: 110px;

      h2 {
        margin-bottom: 15px;
        color: rgb(51, 51, 51);
        font-size: 30px;
      }

      p {
        margin-bottom: 30px;
        color: #545454;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }

      .squareBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 60px;
        padding: 0 23px;
        border: 1px solid rgba(51, 51, 51, 0.2);
      }

      .text {
        font-size: 14px;
      }
      .arrow {
        font-size: 25px;
      }
    }
  }

  .bannerImg {
    flex-basis: 50%;
    background-image: url('https://www.aesop.com/u1nb1km7t5q7/6PZe1xSj5TaAnCs3dkaokN/f73eeb7b125805061fef8c7d7c90b4e0/Aesop_Home_2023_Scented_Home_Web_Homepage_Primary_50-50_Desktop_XL_2560x1200px.jpg');
    background-position: center;
    background-size: cover;
  }
}
