.info {
  padding-top: 120px;
  padding-right: 80px;
  padding-bottom: 120px;
  background-color: #f2efea;

  ul {
    right: 320px;
    width: 50%;
    transform: translate(80%, 0);
    list-style: none;

    li {
      padding: 32px;
      border-bottom: 1px solid #ccc;

      .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
      }

      .titleText {
        margin-left: 40px;
      }
    }
  }
}
