.orderInfo {
  flex-basis: 70%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #f6f5e8;
  &::-webkit-scrollbar {
    display: none;
  }

  .orderNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    padding-left: 40px;
    border-bottom: 1px solid #cfcec3;
  }

  .orderProcess {
    display: flex;
    gap: 20px;
    color: #666666;
  }

  .userInfoWrap {
    padding-top: 115px;
    padding-right: 60px;
    padding-left: 200px;

    .orderUserName {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;

      .userName {
        font-size: 30px;
      }

      .edit {
        color: #666666;
        font-size: 15px;
      }
    }
    .name {
      margin-bottom: 20px;
      color: #666666;
      font-size: 25px;
    }
    .emailId {
      color: #666666;
      font-size: 25px;
    }
  }

  .deliveryInfo {
    margin-top: 250px;

    .sendTo {
      margin-bottom: 60px;
      font-size: 30px;
    }

    .enterDeliveryInfo {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-bottom: 100px;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #cfcec3;
      outline: none;
      background-color: #f6f5e8;
      font-size: 25px;
    }

    .moveBtn {
      width: 240px;
      height: 60px;
      margin-top: 20px;
      border: none;
      background-color: #333333;
      color: #dbdad1;
    }
  }
  .shippingAddress {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    color: #666666;
    font-size: 23px;
    gap: 20px;

    .deliveryTitle {
      margin-bottom: 40px;
      color: #333333;
      font-size: 30px;
    }
  }

  .termsOfPayment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    margin-bottom: 200px;
    .paymentTitle {
      margin-bottom: 30px;
      font-size: 30px;
    }
    .pageMove {
      width: 240px;
      height: 60px;
      margin-top: 20px;
      border: none;
      background-color: #333333;
      color: #cfcec3;
    }
  }
}
