@import '../../../../styles/mixin';

.productRelated {
  position: relative;

  .productRelatedLink {
    @include aStyle;
  }

  .productRelatedImage {
    position: absolute;
    right: 0;
    bottom: -50%;
    width: 160px;
  }

  .productRelatedText {
    @include h6Style;
  }
}
