.slideItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  .carouselItem {
    width: 410px;
    height: 400px;
  }

  .itemName {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
  }

  .itemIngredient {
    font-size: 14px;
    font-weight: 400;
  }
}
