@import '../../styles/mixin';

.search {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fffef2;

  .searchInput {
    overflow-y: hidden;
  }

  .searchResult {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
  }
}
