.cartMessage {
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 50%;
  width: 600px;
  transform: translate(-50%);
  background-color: #fffef2;
  -webkit-box-shadow: 10px 10px 28px -4px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 10px 28px -4px rgba(0, 0, 0, 0.58);
  box-shadow: 10px 10px 28px -4px rgba(0, 0, 0, 0.58);

  .cartContents {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;

    .closeBtn {
      font-size: 20px;
      text-align: right;
      &:hover {
        cursor: pointer;
      }
    }

    .putIn {
      font-size: 20px;
      text-align: center;
    }

    .shopping {
      width: 500px;
      height: 58px;
      margin-top: 20px;
      padding-top: 20px;
      background-color: #333333;
      color: #f6f5e8;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      &:hover {
        background-color: #000000;
        cursor: pointer;
      }
    }
  }
}
