.bandBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43px;
  background-color: #252525;
  color: #f9f8ec;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  &:hover {
    cursor: pointer;
  }

  div {
    width: 300px;
  }
}
